Flask~=1.1.2
adafruit-circuitpython-neopixel~=6.0.3
click~=7.1.2
Werkzeug~=1.0.1
setuptools~=56.0.0
pyftdi~=0.52.9
pip~=21.0.1
colorama~=0.4.4
Jinja2~=2.11.3
itsdangerous~=1.1.0
MarkupSafe~=1.1.1
pyserial~=3.5